#wrap {
  position: relative;
  padding: calc(var(--contentSpacing) * var(--scale));
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

#wrap:hover {
  background-color: var(--accentColorTransparent);
}

#checkbox {
  margin: 4px;
  width: calc(var(--contentSpacing) * 3 * var(--scale));
  height: calc(var(--contentSpacing) * 3 * var(--scale));
  accent-color: var(--accentColor);
  border-radius: calc(var(--borderRadius) * var(--scale));
}

#checkbox:hover {
  background-color: var(--accentColorTransparent);
}
