button {
  margin: var(--contentSpacing);
  transition: var(--transitionTime);
  padding: var(--contentSpacing) calc(var(--contentSpacing) * 2.6)
    var(--contentSpacing) calc(var(--contentSpacing) * 2.6);
  border-radius: var(--borderRadius);
  position: relative;
  overflow: hidden;
}

.contained {
  border: none;
  background-color: var(--accentColor);
  color: var(--accentColorText);
}

.text {
  border: none;
  background-color: transparent;
  color: var(--accentColor);
}

.text:hover {
  background-color: var(--accentColorTransparent);
}
