button {
  margin: calc(var(--contentSpacing) * var(--scale));
  transition: var(--transitionTime);
  padding: calc(var(--contentSpacing) * var(--scale))
    calc(var(--contentSpacing) * 2.6 * var(--scale))
    calc(var(--contentSpacing) * var(--scale))
    calc(var(--contentSpacing) * 2.6 * var(--scale));
  border-radius: calc(var(--borderRadius) * var(--scale));
  position: relative;
  overflow: hidden;
}

.contained {
  border: none;
  background-color: var(--accentColor);
  color: var(--accentColorText);
}

.text {
  border: none;
  background-color: transparent;
  color: var(--accentColor);
}

.outlined {
  border: calc(1px * var(--scale)) solid var(--accentColor);
}

.text:hover {
  background-color: var(--accentColorTransparent);
}

.disabled {
  background-color: var(--disabledBackgroundColor);
  color: var(--disabledTextColor);
  border: none;
}

.disabled:hover {
  background-color: var(--disabledBackgroundColor);
  box-shadow: none;
}
